<p-table
  #dt
  [value]="shippingOptions"
  [tableStyle]="{ 'min-width': '80%' }"
  [rowHover]="true"
  dataKey="id"
  (selectionChange)="selectShippingOption($event)"
>
  <ng-template pTemplate="caption">
    <h4>Select Shipping Option</h4>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 4rem"></th>
      <th>Shipping Method</th>
      <th>Estimated Delivery Time</th>
      <th>Cost</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-shippingOption>
    <tr>
      <td>
        <p-tableRadioButton [value]="shippingOption"></p-tableRadioButton>
      </td>
      <td>{{ shippingOption.method }}</td>
      <td>{{ shippingOption.deliveryTime }}</td>
      <td>{{ shippingOption.cost }}</td>
    </tr>
  </ng-template>
</p-table>
<hr />
<div class="d-flex flex-column mt-3">
  <p>
    Please note that shipping rates may vary depending on the customer's
    location and order size. For more information, please refer to our shipping
    policies.
  </p>
  <p>Thank you for shopping with us!</p>
</div>
