/* --- */
/* Footer */
/* --- */
.footer {
  padding: 4rem;
  border-top: 1px solid var(--surface-border);
  border-bottom: 0.625rem solid var(--primary-color);
  position: relative;
}

.footer::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 6.5rem 6.5rem;
  border-color: transparent transparent var(--primary-color) transparent;
  pointer-events: none;
}

.footer-heading {
  font-size: 15px;
  color: var(--text-color);
  margin-bottom: 12px;
}

.site-footer-link {
  color: var(--text-color-secondary);
  font-size: 12px;
  font-weight: 400;
  line-height: 28px;
  text-transform: capitalize;
  text-decoration: none;
  letter-spacing: 0.02em;
  box-shadow: none;
  transition: 0.2s ease;
}

.site-footer-link:hover {
  color: var(--primary-color);
  text-decoration: underline;
}
