<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <!-- Shop -->
      <div class="col-6 col-md-4">
        <span class="footer-heading">SHOP</span>
        <ul class="site-footer-links list-unstyled">
          <li class="site-footer-link-item">
            <a class="site-footer-link">New In </a>
          </li>

          <li class="site-footer-link-item">
            <a class="site-footer-link">Kids</a>
          </li>

          <li class="site-footer-link-item">
            <a class="site-footer-link">Men</a>
          </li>

          <li class="site-footer-link-item">
            <a class="site-footer-link">Women</a>
          </li>
          <li class="site-footer-link-item">
            <a class="site-footer-link">Bags & Accessories</a>
          </li>
          <li class="site-footer-link-item">
            <a class="site-footer-link">Top Brands</a>
          </li>
          <li class="site-footer-link-item">
            <a class="site-footer-link">Sale & Special Offers</a>
          </li>
        </ul>
      </div>
      <!-- INFORMATION -->
      <div class="col-6 col-md-4">
        <span class="footer-heading">INFORMATION</span>
        <ul class="site-footer-links list-unstyled">
          <li class="site-footer-link-item">
            <a class="site-footer-link">About</a>
          </li>

          <li class="site-footer-link-item">
            <a class="site-footer-link">Customer Service</a>
          </li>

          <li class="site-footer-link-item">
            <a class="site-footer-link">Reward Program</a>
          </li>

          <li class="site-footer-link-item">
            <a class="site-footer-link">Shipping & Returns</a>
          </li>
          <li class="site-footer-link-item">
            <a class="site-footer-link">Privacy Policy</a>
          </li>
          <li class="site-footer-link-item">
            <a class="site-footer-link">Terms & Conditions</a>
          </li>
          <li class="site-footer-link-item">
            <a class="site-footer-link">Privacy Policy</a>
          </li>
        </ul>
      </div>
      <!-- CUSTOMER SERVICE -->
      <div class="col-6 col-md-4">
        <span class="footer-heading">CUSTOMER SERVICE</span>
        <ul class="site-footer-links list-unstyled">
          <li class="site-footer-link-item">
            <a class="site-footer-link">Search Terms</a>
          </li>

          <li class="site-footer-link-item">
            <a class="site-footer-link">Advanced Search</a>
          </li>

          <li class="site-footer-link-item">
            <a class="site-footer-link">Orders And Returns</a>
          </li>

          <li class="site-footer-link-item">
            <a class="site-footer-link">Contact Us</a>
          </li>
          <li class="site-footer-link-item">
            <a class="site-footer-link">FAQS</a>
          </li>
          <li class="site-footer-link-item">
            <a class="site-footer-link">Consultant</a>
          </li>
          <li class="site-footer-link-item">
            <a class="site-footer-link">Store Locations</a>
          </li>
        </ul>
      </div>
      <div
        class="col-12 d-flex flex-column-reverse flex-md-row justify-content-md-between mt-3"
      >
        <!-- Copyright © 2048 StackStore. All rights reserved. -->
        <div
          class="d-flex flex-column text-small p-text-secondary mt-3 mt-md-0"
        >
          <span>Copyright © 2048 StackStore. All rights reserved.</span>
          <span
            >StackStore Wep App By
            <a
              href="https://www.linkedin.com/in/ahmed-el-sayed-el-sayed-ibrahim-616800197/"
              class="site-footer-link"
              >Ahmed Elsayed</a
            >
          </span>
        </div>
        <!-- NEWSLETTER -->
        <div class="d-flex flex-column">
          <span class="footer-heading">NEWSLETTER SIGN UP</span>
          <span class="p-text-secondary text-small"
            >Sign up for exclusive updates, new arrivals & insider only
            discounts</span
          >
          <div class="d-flex mt-3">
            <input
              type="email"
              placeholder="enter your email address"
              pInputText
              class="me-2 ps-2"
              style="width: 16.5rem"
            />
            <p-button label="Submit" styleClass="px-4"></p-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
