/* --- */
/* Footer */
/* --- */
.footer {
  padding-block: 4rem;
  border-bottom: 0.625rem solid var(--primary-color);
  // border-bottom: 0.625rem solid $secondary-color;
  position: relative;
}

.footer::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 12.5rem 12.5rem;
  border-color: transparent transparent var(--primary-color) transparent;
  pointer-events: none;
}

.site-footer-link {
  color: var(--primary-color);
  font-size: var(--copyright-font-size);
  font-weight: var(--font-weight-medium);
  line-height: normal;
  text-decoration: none;
}

.site-footer-link:hover {
  color: var(--secondary-color);
}

.copyright-text {
  font-size: var(--copyright-font-size);
}

.footer .dropdown .dropdown-toggle {
  background: var(--custom-btn-bg-color);
  border: 1px solid var(--custom-btn-bg-color);
}

.footer .dropdown .dropdown-toggle:focus,
.footer .dropdown .dropdown-toggle:hover {
  box-shadow: none;
  background: var(--custom-btn-bg-hover-color);
}

.footer .dropdown-menu .dropdown-item {
  color: var(--p-color);
  font-size: var(--menu-font-size);
  font-weight: var(--font-weight-medium);
}
