<div class="container-fluid p-4">
  <div class="card">
    <h2>Create Product</h2>
    <form [formGroup]="addProductForm">
      <div class="row">
        <div class="col-12 col-md-8">
          <div class="row">
            <div class="col-12">
              <span class="p-float-label">
                <input
                  pInputText
                  id="name"
                  formControlName="name"
                  class="w-100"
                />
                <label htmlFor="name">Product Name</label>
              </span>
            </div>
            <div class="col-12 col-md-4">
              <span class="p-float-label">
                <p-inputNumber
                  id="price"
                  formControlName="price"
                  inputStyleClass="w-100"
                  inputId="locale-user"
                  [minFractionDigits]="2"
                  [min]="0"
                  class="w-100"
                >
                </p-inputNumber>
                <label htmlFor="price">Price</label>
              </span>
            </div>
            <div class="col-12 col-md-4">
              <span class="p-float-label">
                <input
                  pInputText
                  id="productCode"
                  formControlName="productCode"
                  class="w-100"
                />
                <label htmlFor="productCode">Product Code</label>
              </span>
            </div>
            <div class="col-12 col-md-4">
              <span class="p-float-label">
                <input
                  pInputText
                  id="productSKU"
                  formControlName="productSKU"
                  class="w-100"
                />
                <label htmlFor="productSKU">Product SKU</label>
              </span>
            </div>
            <div class="col-12">
              <p-editor
                formControlName="description"
                [style]="{ height: '20rem' }"
              ></p-editor>
            </div>
            <div class="col-12">
              <p-fileUpload
                name="product-images"
                #pFile
                [multiple]="true"
                accept="image/*"
                [maxFileSize]="1000000"
                cancelStyleClass="p-button-danger"
                [showUploadButton]="false"
                uploadStyleClass="p-button-success"
              >
                <ng-template pTemplate="content">
                  <h5 class="text-center">Choose your images then upload</h5>
                  <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">
                      {{ file.name }} - {{ file.size }} bytes
                    </li>
                  </ul>
                </ng-template>
              </p-fileUpload>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="row">
            <div class="col-12 custom-input-card">
              <h5>Status</h5>
              <hr />
              <p-dropdown
                formControlName="status"
                [options]="statusOptions"
                optionLabel="status"
                optionValue="value"
                styleClass="w-100"
              ></p-dropdown>
            </div>
            <div class="col-12 custom-input-card">
              <h5>Tags</h5>
              <hr />
              <p-chips
                formControlName="tags"
                [max]="10"
                [addOnTab]="true"
                [showClear]="true"
              ></p-chips>
            </div>
            <div class="col-12 custom-input-card">
              <h5>Caregory</h5>
              <hr />
              <!-- Will need a filter because there will be too much categories -->
              <p-dropdown
                [options]="caregoryOptions"
                formControlName="categoryId"
                optionLabel="name"
                optionValue="id"
                styleClass="w-100"
              ></p-dropdown>
            </div>
            <div class="col-12 custom-input-card product-color">
              <h5>Colors</h5>
              <hr />
              <div class="d-flex justify-content-center align-items-center">
                <p-selectButton
                  [options]="colorStateOptions"
                  formControlName="colors"
                  optionValue="value"
                  [multiple]="true"
                >
                  <ng-template let-item pTemplate>
                    <span [class]="item.productColor"></span> </ng-template
                ></p-selectButton>
              </div>
            </div>
            <div
              class="col-12 custom-input-card d-flex justify-content-between"
            >
              <h5>In Stock</h5>
              <p-inputSwitch formControlName="inStock"></p-inputSwitch>
            </div>
            <div class="col-12 custom-input-card">
              <h5>Quantity</h5>
              <hr />
              <p-inputNumber
                formControlName="quantity"
                [showButtons]="true"
                buttonLayout="horizontal"
                inputId="horizontal"
                spinnerMode="horizontal"
                [step]="1"
                decrementButtonClass="p-button-danger p-button-help p-button-text"
                incrementButtonClass="p-button-success p-button-help p-button-text"
                incrementButtonIcon="pi pi-plus"
                decrementButtonIcon="pi pi-minus"
                inputStyleClass="p-inputtext-sm inputNumber text-center"
                [min]="1"
                [max]="99"
              ></p-inputNumber>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <button
          pButton
          type="submit"
          (click)="uploadFiles(pFile.files); pFile.clear()"
          [disabled]="pFile.files.length === 0"
        >
          Add Product
        </button>
        <!-- <button pButton type="submit" (click)="uploadFiles(pFile.files)">
          Add Product
        </button> -->
      </div>
    </form>
  </div>
</div>
