<div class="container-fluid p-3 shopping-cart">
  <div class="row" *ngIf="!isSidebar">
    <div class="col-12">
      <h2>Shopping Cart</h2>
      <hr />
    </div>
  </div>

  <div class="row">
    <div [class]="isSidebar ? 'col-12' : 'col-12 col-lg-8'">
      <div class="card">
        <p-scrollPanel
          [style]="{
            width: '100%',
            height: isSidebar ? '50vh' : '100%'
          }"
        >
          <p-dataView #dv [value]="cartItems">
            <ng-template pTemplate="header" *ngIf="!isSidebar">
              <div
                class="row text-center"
                *ngIf="!(isSmall$ | async) && !isSidebar"
              >
                <div class="col-3">Product</div>
                <div class="col-2">Price</div>
                <div class="col-3">Qty</div>
                <div class="col-2">Total</div>
                <div class="col-2"></div>
              </div>
              <div
                class="row text-center"
                *ngIf="(isSmall$ | async) && !isSidebar"
              >
                <div class="col h3">Your Items</div>
              </div>
            </ng-template>

            <ng-template let-cartItem pTemplate="listItem">
              <div
                class="row align-items-center text-center mb-2 p-3 cart-item-container"
              >
                <div
                  [class]="
                    isSidebar
                      ? 'col-12 d-flex flex-column justify-content-start align-items-center'
                      : 'col-12 col-sm-3 d-flex flex-column flex-sm-row justify-content-start align-items-center ps-sm-0'
                  "
                >
                  <img
                    class="w-50 me-sm-2 rounded cursor-pointer"
                    style="height: 5rem"
                    [src]="
                      createImgPath(cartItem.product.productImages[0]?.imgPath)
                    "
                    [alt]="cartItem.product.name"
                    routerLink="/product/{{ cartItem.product.id }}"
                  /><span
                    class="cursor-pointer"
                    routerLink="/product/{{ cartItem.product.id }}"
                    >{{ cartItem.product.name }}</span
                  >
                </div>
                <div
                  [class]="isSidebar ? 'col-12' : 'col-12 col-sm-2'"
                  *ngIf="!isSidebar"
                >
                  {{ cartItem.product.price | currency }}
                </div>
                <div [class]="isSidebar ? 'col-12' : 'col-12 col-sm-3'">
                  <p-inputNumber
                    [showButtons]="true"
                    [ngModel]="cartItem.quantity"
                    buttonLayout="horizontal"
                    inputId="horizontal"
                    spinnerMode="horizontal"
                    [step]="1"
                    decrementButtonClass="p-button-danger p-button-help p-button-text w-25"
                    incrementButtonClass="p-button-success p-button-help p-button-text w-25"
                    incrementButtonIcon="pi pi-plus"
                    decrementButtonIcon="pi pi-minus"
                    inputStyleClass="p-inputtext-sm inputNumber text-center"
                    [min]="1"
                    [max]="99"
                    (onInput)="onQtyInput($event, cartItem)"
                    (onBlur)="onQtyInputBlur($event, cartItem)"
                  ></p-inputNumber>
                </div>
                <!-- <div class="col-12 col-sm-2">10</div> -->
                <div
                  [class]="isSidebar ? 'col-12' : 'col-12 col-sm-2'"
                  style="color: var(--primary-color)"
                >
                  {{ cartItem.price | currency }}
                </div>
                <div [class]="isSidebar ? 'col-12' : 'col-12 col-sm-2'">
                  <button
                    pButton
                    icon="pi pi-trash"
                    class="p-button-rounded p-button-danger"
                    (click)="DeleteCartItemConfirm(cartItem.id)"
                  ></button>
                </div>
              </div>
            </ng-template>
          </p-dataView>
        </p-scrollPanel>
      </div>
    </div>
    <div [class]="isSidebar ? 'col-12' : 'col-12 col-lg-4'">
      <div class="card d-flex flex-column">
        <div class="d-flex justify-content-between">
          <span>{{ cartItems?.length }} Items</span
          ><span>{{ total | currency }}</span>
        </div>

        <div class="d-flex justify-content-between mt-2">
          <span>Discount</span
          ><span class="ms-3">Add your coupon code in checkout.</span>
        </div>
        <hr />
        <div class="d-flex justify-content-between h5">
          <span>Total</span><span>{{ total | currency }}</span>
        </div>
        <!-- <div class="p-inputgroup mt-3">
          <span class="p-inputgroup-addon border-0">
            <i class="pi pi-tag"></i>
          </span>
          <input type="text" pInputText placeholder="Coupon code(TBD)" />
          <button
            type="button"
            pButton
            label="Add"
            class="p-button-text"
          ></button>
        </div> -->
        <p-button
          label="Proceed to checkout"
          routerLink="/dashboard/user/check-out"
          styleClass="p-button-raised p-button-info w-100 mt-3"
        ></p-button>
      </div>
    </div>
  </div>
</div>
