<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container">
    <a class="navbar-brand me-auto me-lg-0" routerLink="/home">
      <i class="bi-back"></i>
      <span>Topic</span>
    </a>
    <div class="d-block d-lg-none">
      <a routerLink="/auth/register" class="bi-person navbar-icon"></a>
    </div>
    <button
      class="navbar-toggler border-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="bi bi-list text-white h1"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-lg-5 me-lg-auto text-uppercase">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/auth/login">BROWSE TOPICS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard">HOW IT WORKS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">FAQS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CONTACT</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            PAGES
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" href="#">Topics Listing</a>
            </li>
            <li><a class="dropdown-item" href="#">Contact Form</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="d-none d-lg-block">
      <a routerLink="/auth/register">
        <button mat-fab aria-labe>
          <mat-icon fontIcon="person"></mat-icon>
        </button>
      </a>
      <!-- <a routerLink="/auth/register" class="bi-person"></a> -->
    </div>
  </div>
</nav>
