<form [formGroup]="userPaymentForm" (submit)="upsertPayment()">
  <div [class]="'row ' + (checkOut ? '' : 'py-3 px-4 px-md-5')">
    <h2 class="mb-3">Add a Payment Method</h2>
    <div class="col-12 custom-input-group">
      <label for="class">Card Holder Name</label>
      <input id="name" type="text" required pInputText formControlName="name" />
      <app-generic-input-errors
        [genericFormControl]="userPaymentForm.get('name')"
        inputName="Name"
      ></app-generic-input-errors>
    </div>
    <div class="col-12 col-lg-6 custom-input-group">
      <label id="accountNo" for="lastname">Account Number</label>
      <p-inputMask
        inputId="accountNo"
        mask="9999-9999-9999-9999"
        formControlName="accountNo"
        styleClass="w-100"
        [required]="true"
      ></p-inputMask>
      <app-generic-input-errors
        [genericFormControl]="userPaymentForm.get('accountNo')"
        inputName="Account Number"
      ></app-generic-input-errors>
    </div>
    <div class="col-6 col-lg-3 custom-input-group">
      <label id="expiry" for="date">Expiry Date</label>
      <p-inputMask
        inputId="expiry"
        mask="99/99"
        formControlName="expiry"
        styleClass="w-100"
        [required]="true"
      ></p-inputMask>
      <app-generic-input-errors
        [genericFormControl]="userPaymentForm.get('expiry')"
        inputName="Expiry date"
      ></app-generic-input-errors>
    </div>
    <div class="col-6 col-lg-3 custom-input-group">
      <label for="cvv">CVV</label>
      <p-inputMask
        inputId="cvv"
        mask="999"
        formControlName="cvv"
        styleClass="w-100"
        [required]="true"
      ></p-inputMask>
      <app-generic-input-errors
        [genericFormControl]="userPaymentForm.get('cvv')"
        inputName="CVV"
      ></app-generic-input-errors>
    </div>
    <div class="col-12 custom-input-group align-items-center flex-md-row">
      <span class="d-flex align-items-center me-3">
        <p-checkbox
          inputId="remember"
          [binary]="true"
          formControlName="remember"
          styleClass="me-3"
        ></p-checkbox>
        <label for="remember" class=""
          >Save credit card information for future</label
        >
      </span>
      <button
        pButton
        pRipple
        label="Save"
        [disabled]="userPaymentForm.invalid || userPaymentForm.pristine"
      ></button>
    </div>
  </div>
</form>
