<div class="container-fluid custom-input-card">
  <p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>
  <div class="row mt-4 px-4" *ngIf="current == 'list'">
    <p-table
      #dt
      [value]="userPayments"
      [rows]="10"
      [paginator]="true"
      [globalFilterFields]="['name', 'accountNo']"
      [tableStyle]="{ 'min-width': '80%' }"
      [rowHover]="true"
      dataKey="name"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true"
    >
      <ng-template pTemplate="caption">
        <div class="d-flex justify-content-between align-items-center">
          <h2 class="mb-3">Manage Payments</h2>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="dt.filterGlobal(inputFilter($event), 'contains')"
              placeholder="Search..."
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name" style="min-width: 15rem">
            Card Holder Name <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="accountNo" style="min-width: 15rem">
            Account No <p-sortIcon field="accountNo"></p-sortIcon>
          </th>
          <th>Expiry Date</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-userPayment>
        <tr>
          <td>{{ userPayment.name }}</td>
          <td>
            {{ userPayment.accountNo }}
          </td>
          <td>{{ userPayment.expiry }}</td>
          <td>
            <span class="d-flex">
              <button
                pButton
                pRipple
                icon="pi pi-pencil"
                class="p-button-rounded p-button-success me-2"
                (click)="getUserPaymentForUpdate(userPayment.id)"
              ></button>
              <button
                pButton
                pRipple
                icon="pi pi-trash"
                class="p-button-rounded p-button-warning"
                (click)="deleteUserPayment(userPayment)"
              ></button>
            </span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
          In total there are
          {{ userPayments ? userPayments.length : 0 }} Payment Methods.
        </div>
      </ng-template>
    </p-table>
  </div>
</div>
<app-user-payment-form *ngIf="current == 'add'"></app-user-payment-form>
<app-user-payment-form
  [userPayment]="userPayment"
  [isUpdate]="true"
  *ngIf="current == 'edit'"
></app-user-payment-form>
