<div class="container-fluid p-3">
  <div class="row d-flex flex-column-reverse flex-md-row">
    <div class="col-12 col-md-6 col-lg-7">
      <p-steps
        [model]="stepsItems"
        [readonly]="true"
        [activeIndex]="activeIndex"
      ></p-steps>
      <div class="custom-input-card">
        <!-- User Addresses  -->
        <app-user-address-selection
          [userAddresses]="userAddresses"
          (selectedAddressEvent)="selectAddress($event)"
          [hidden]="!(activeIndex == 0)"
          *ngIf="userAddresses?.length != 0"
        ></app-user-address-selection>
        <app-user-address-form
          [checkOut]="true"
          (newUserAddressEvent)="newUserAddress($event)"
          [hidden]="!(activeIndex == 0)"
          *ngIf="userAddresses?.length == 0"
        ></app-user-address-form>
        <!-- Shipping Options -->
        <app-shipping-options
          [shippingOptions]="shippingOptions"
          (selectedShippingOptionEvent)="selectShippingOption($event)"
          [hidden]="!(activeIndex == 1)"
        ></app-shipping-options>
        <!-- User Payments -->
        <app-user-payment-selection
          [userPayments]="userPayments"
          (selectedPaymentEvent)="selectPayment($event)"
          [hidden]="!(activeIndex == 2)"
          *ngIf="userPayments?.length != 0"
        ></app-user-payment-selection>
        <app-user-payment-form
          (newUserPaymentEvent)="newUserPayment($event)"
          [hidden]="!(activeIndex == 2)"
          *ngIf="userPayments?.length == 0"
        ></app-user-payment-form>
        <!-- Order Confirmation -->
        <app-order-confirmation
          [selectedAddress]="selectedAddress"
          [selectedShippingOption]="selectedShippingOption"
          [selectedPaymentOption]="selectedPayment"
          [total]="total"
          *ngIf="activeIndex == 3"
        ></app-order-confirmation>
      </div>
      <div
        class="d-flex justify-content-center mb-2 mb-md-0"
        *ngIf="!isSelected"
      >
        <span class="text-danger">Please Select an Option.</span>
      </div>
      <div
        [class]="
          activeIndex == 0
            ? 'd-flex justify-content-end'
            : 'd-flex justify-content-between'
        "
      >
        <p-button
          label="Back"
          (onClick)="prevPage()"
          icon="pi pi-angle-left"
          [disabled]="false"
          *ngIf="activeIndex != 0"
        ></p-button>
        <p-button
          label="Next"
          (onClick)="nextPage()"
          icon="pi pi-angle-right"
          iconPos="right"
          styleClass="p-button-success"
          *ngIf="activeIndex != 3"
        ></p-button>
        <p-button
          label="Complete"
          (onClick)="complete()"
          icon="pi pi-angle-right"
          iconPos="right"
          styleClass="p-button-success"
          *ngIf="activeIndex == 3"
        ></p-button>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-5 mb-3 mb-md-0">
      <app-order-summary
        [cartItems]="cartItems"
        [subTotal]="subTotal"
        [total]="total"
        [shippingCost]="shippingCost"
      ></app-order-summary>
    </div>
  </div>
</div>
