.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: var(--surface-overlay);
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
  background: var(--surface-overlay);
  // border: var(--surface-border);
}
