.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: var(--surface-overlay);
}

.sidenav .mat-toolbar {
  background: var(--surface-overlay);
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
  background: var(--surface-overlay);
  padding-inline: 0;
  border-bottom: 1px solid var(--surface-border);
}

.user-actions {
  background: var(--surface-overlay);
}

@media screen and (max-width: 575.9px) {
  .user-actions {
    border-top: 1px solid var(--surface-border);
    border-bottom: 1px solid var(--surface-border);
  }
}

.p-scrolltop-sticky {
  position: absolute !important;
}
