<!-- Hero section -->
<section class="hero-section pt-5">
  <div class="container-fluid text-center pb-4">
    <div class="row">
      <h1 class="text-white pt-4">Discover. Learn. Enjoy</h1>
      <h6 class="mb-4">platform for creatives around the world</h6>
    </div>
    <div id="search-container" class="row bg-white rounded-pill mx-auto py-3">
      <form action="">
        <div class="input-group input-group-lg">
          <span class="input-group-text bi-search border-0 bg-white"></span>
          <input
            type="text"
            class="form-control border-0 search"
            placeholder="Design, Code, Marketing, Finance ..."
          />
          <button
            type="submit"
            class="btn btn-primary rounded-pill custom-btn px-5 py-3"
          >
            Search
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- Featured section -->
<section class="featured-section">
  <div class="container-fluid">
    <div class="row justify-content-center px-5 mb-3">
      <div class="col-9 m-auto col-lg-4 mx-lg-2 my-3">
        <div class="card h-100 p-3">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <h5 class="card-title">Web Design</h5>
              <span class="badge bg-primary ms-auto p-2">14</span>
            </div>
            <p class="card-text">
              Topic Listing Template includes homepage, listing page, detail
              page, and contact page. You can feel free to edit and adapt for
              your CMS requirements.
            </p>
          </div>
          <img
            src="../../../assets/images/topics/undraw_Remote_design_team_re_urdx.png"
            alt="Card Image"
            class="card-img-bottom mx-auto"
          />
        </div>
      </div>
      <div class="col-9 m-auto col-lg-6 mx-lg-2 my-3">
        <div class="card h-100 border-0 p-3 custom-card-background">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <h5 class="card-title text-white">Finance</h5>
              <span class="badge bg-primary ms-auto p-2">14</span>
            </div>
            <p class="card-text text-white">
              When you search for free CSS templates, you will notice that
              TemplateMo is one of the best websites.
            </p>
            <button
              class="btn btn-primary rounded-pill px-3 py-2 mt-2 mt-lg-3 custom-btn"
            >
              Learn More
            </button>
          </div>
          <div class="card-footer d-flex align-items-center">
            <span class="text-white">Share: </span>
            <ul class="list-group list-group-horizontal">
              <li class="list-group-item rounded-pill">
                <a href="#!" class="bi-twitter custom-social-icon"></a>
              </li>
              <li class="list-group-item rounded-pill">
                <a href="#!" class="bi-facebook custom-social-icon"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Browser Topics section -->
<section class="topics-section my-3">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <h2 class="mb-3 mb-lg-4 text-center">Browse Topics</h2>
        <ul
          class="nav nav-tabs justify-content-center mb-3"
          id="myTab"
          role="tablist"
        >
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="design-tab"
              data-bs-toggle="tab"
              data-bs-target="#design"
              type="button"
              role="tab"
              aria-controls="design"
              aria-selected="true"
            >
              Design
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="marketing-tab"
              data-bs-toggle="tab"
              data-bs-target="#marketing"
              type="button"
              role="tab"
              aria-controls="marketing"
              aria-selected="false"
            >
              Marketing
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="finance-tab"
              data-bs-toggle="tab"
              data-bs-target="#finance"
              type="button"
              role="tab"
              aria-controls="finance"
              aria-selected="false"
            >
              Finance
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="music-tab"
              data-bs-toggle="tab"
              data-bs-target="#music"
              type="button"
              role="tab"
              aria-controls="music"
              aria-selected="false"
            >
              Music
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="education-tab"
              data-bs-toggle="tab"
              data-bs-target="#education"
              type="button"
              role="tab"
              aria-controls="education"
              aria-selected="false"
            >
              Education
            </button>
          </li>
        </ul>
        <div class="tab-content p-3" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="design"
            role="tabpanel"
            aria-labelledby="design-tab"
          >
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
              <div class="col">
                <div class="card h-100 p-3 shadow-lg">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <h5 class="card-title">Web Design</h5>
                      <span class="badge bg-primary ms-auto p-2">14</span>
                    </div>
                    <p class="card-text">
                      Topic Listing Template includes homepage, listing page,
                      detail page, and contact page. You can feel free to edit
                      and adapt for your CMS requirements.
                    </p>
                  </div>
                  <img
                    src="../../../assets/images/topics/undraw_Remote_design_team_re_urdx.png"
                    alt="Card Image"
                    class="card-img-bottom mx-auto"
                  />
                </div>
              </div>
              <div class="col">
                <div class="card h-100 p-3 shadow-lg">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <h5 class="card-title">Graphic</h5>
                      <span class="badge bg-primary ms-auto p-2">33</span>
                    </div>
                    <p class="card-text">
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    </p>
                  </div>
                  <img
                    src="../../../assets/images/topics/undraw_Redesign_feedback_re_jvm0.png"
                    alt="Card Image"
                    class="card-img-bottom mx-auto"
                  />
                </div>
              </div>
              <div class="col">
                <div class="card h-100 p-3 shadow-lg">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <h5 class="card-title">Logo Design</h5>
                      <span class="badge bg-primary ms-auto p-2">14</span>
                    </div>
                    <p class="card-text">
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    </p>
                  </div>
                  <img
                    src="../../../assets/images/topics/colleagues-working-cozy-office-medium-shot.png"
                    alt="Card Image"
                    class="card-img-bottom mx-auto"
                  />
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="marketing"
            role="tabpanel"
            aria-labelledby="marketing-tab"
          >
            ...
          </div>
          <div
            class="tab-pane fade"
            id="finance"
            role="tabpanel"
            aria-labelledby="finance-tab"
          >
            ...
          </div>
          <div
            class="tab-pane fade"
            id="music"
            role="tabpanel"
            aria-labelledby="music-tab"
          >
            ...
          </div>
          <div
            class="tab-pane fade"
            id="education"
            role="tabpanel"
            aria-labelledby="education-tab"
          >
            ...
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Timeline section -->
<section class="timeline-section">
  <div class="container-fluid p-5">
    <div class="row">
      <div class="col text-center">
        <h2 class="mb-4 text-white">How does it work?</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-12 mx-auto">
        <div class="timeline-container">
          <ul
            class="vertical-scrollable-timeline"
            id="vertical-scrollable-timeline"
          >
            <div class="list-progress">
              <div class="inner"></div>
            </div>

            <li>
              <h4 class="text-white mb-3">Search your favourite topic</h4>

              <p class="text-white">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Reiciendis, cumque magnam? Sequi, cupiditate quibusdam alias
                illum sed esse ad dignissimos libero sunt, quisquam numquam
                aliquam? Voluptas, accusamus omnis?
              </p>

              <div class="icon-holder">
                <i class="bi-search"></i>
              </div>
            </li>

            <li>
              <h4 class="text-white mb-3">
                Bookmark &amp; Keep it for yourself
              </h4>

              <p class="text-white">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint
                animi necessitatibus aperiam repudiandae nam omnis est vel quo,
                nihil repellat quia velit error modi earum similique odit
                labore. Doloremque, repudiandae?
              </p>

              <div class="icon-holder">
                <i class="bi-bookmark"></i>
              </div>
            </li>

            <li>
              <h4 class="text-white mb-3">Read &amp; Enjoy</h4>

              <p class="text-white">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi
                vero quisquam, rem assumenda similique voluptas distinctio, iste
                est hic eveniet debitis ut ducimus beatae id? Quam culpa
                deleniti officiis autem?
              </p>

              <div class="icon-holder">
                <i class="bi-book"></i>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row my-5">
      <div class="col d-flex justify-content-center align-items-center">
        <p class="text-white mb-0 mx-1">Want to learn more?</p>
        <a
          href="#!"
          class="btn btn-primary btn-lg rounded-pill mx-2 custom-btn-transparent"
          >Check out Youtube</a
        >
      </div>
    </div>
  </div>
</section>
<!-- FAQS section -->
<section class="faqs-section">
  <div class="container-fluid p-5">
    <div class="row">
      <div class="col-12 col-lg-6 text-center text-lg-start">
        <h2>Frequently Asked Questions</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-5">
        <img
          src="../../../assets/images/faq_graphic.jpg"
          alt="FAQS Image"
          class="img-fluid"
        />
      </div>
      <div class="col-12 col-lg-6 m-lg-1">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item border-0">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button rounded-pill"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                <h6 class="m-0">What is Topic Listing?</h6>
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <strong>This is the third item's accordion body.</strong>
                It is hidden by default, until the collapse plugin adds the
                appropriate classes that we use to style each element. These
                classes control the overall appearance, as well as the showing
                and hiding via CSS transitions. You can modify any of this with
                custom CSS or overriding our default variables. It's also worth
                noting that just about any HTML can go within the
                <code>.accordion-body</code>, though the transition does limit
                overflow.
              </div>
            </div>
          </div>
          <div class="accordion-item border-0">
            <h2 class="accordion-header" id="headingTwo">
              <button
                class="accordion-button rounded-pill collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                <h6 class="m-0">How to find a topic?</h6>
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <strong>This is the third item's accordion body.</strong>
                It is hidden by default, until the collapse plugin adds the
                appropriate classes that we use to style each element. These
                classes control the overall appearance, as well as the showing
                and hiding via CSS transitions. You can modify any of this with
                custom CSS or overriding our default variables. It's also worth
                noting that just about any HTML can go within the
                <code>.accordion-body</code>, though the transition does limit
                overflow.
              </div>
            </div>
          </div>
          <div class="accordion-item border-0">
            <h2 class="accordion-header" id="headingThree">
              <button
                class="accordion-button rounded-pill collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                <h6 class="m-0">Does it need to paid?</h6>
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="headingThree"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <strong>This is the third item's accordion body.</strong>
                It is hidden by default, until the collapse plugin adds the
                appropriate classes that we use to style each element. These
                classes control the overall appearance, as well as the showing
                and hiding via CSS transitions. You can modify any of this with
                custom CSS or overriding our default variables. It's also worth
                noting that just about any HTML can go within the
                <code>.accordion-body</code>, though the transition does limit
                overflow.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contact section -->
<section class="contact-section">
  <div class="container-fluid p-5">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <h2>Get in touch</h2>
      </div>
      <div class="col-12 col-lg-5 m-auto">
        <img
          src="../../../assets/images/rear-view-young-college-student.jpg"
          alt=""
          class="img-fluid rounded-3"
        />
      </div>
      <div class="col-6 my-3 col-lg-3 my-lg-0 mx-lg-2">
        <h4>Head Office</h4>
        <p>Bay St &, Larkin St, San Francisco, CA 94109, United States</p>
        <hr />
        <p class="d-flex align-items-center mb-1">
          <span class="me-2">Phone</span>

          <a href="#!" class="site-footer-link"> 305-240-9671 </a>
        </p>

        <p class="d-flex align-items-center">
          <span class="me-2">Email</span>

          <a href="#!" class="site-footer-link"> info@company.com </a>
        </p>
      </div>
      <div class="col-6 my-3 col-lg-3 my-lg-0 mx-lg-2">
        <h4>Head Office</h4>
        <p>Bay St &, Larkin St, San Francisco, CA 94109, United States</p>
        <hr />
        <p class="d-flex align-items-center mb-1">
          <span class="me-2">Phone</span>

          <a href="#!" class="site-footer-link"> 305-240-9671 </a>
        </p>

        <p class="d-flex align-items-center">
          <span class="me-2">Email</span>

          <a href="#!" class="site-footer-link"> info@company.com </a>
        </p>
      </div>
    </div>
  </div>
</section>
