<div class="container-fluid px-4 py-2 product-overview">
  <div class="row mb-5">
    <div class="col-12 col-md-6 mb-3">
      <p-galleria
        [value]="images"
        [showIndicators]="false"
        [showThumbnails]="true"
        [showThumbnailNavigators]="false"
        verticalThumbnailViewPortHeight="100%"
        [autoPlay]="false"
        [circular]="false"
        thumbnailsPosition="left"
        [numVisible]="4"
        [responsiveOptions]="responsiveOptions"
        [containerStyle]="{ 'max-width': '640px' }"
      >
        <ng-template pTemplate="item" let-item>
          <img [src]="item.itemImageSrc" class="itemImage rounded" />
        </ng-template>
        <ng-template pTemplate="thumbnail" let-item>
          <img [src]="item.thumbnailImageSrc" class="tempImg" />
        </ng-template>
      </p-galleria>
    </div>
    <div class="col-12 col-md-6 px-5">
      <div class="row">
        <h3>{{ product.name | uppercase }}</h3>
        <p
          class="d-flex flex-column justify-content-center align-items-center flex-sm-row align-items-md-center justify-content-sm-between"
        >
          <span class="h4 me-0 me-md-1">
            {{ product.price | currency }}
          </span>
          <p-rating
            [ngModel]="product.avgRating"
            [readonly]="true"
            [cancel]="false"
          ></p-rating>
          <span class="ms-0 ms-md-1"
            >{{ product.reviews?.length }} reviews</span
          >
        </p>
      </div>
      <div class="row">
        <div class="col-12">
          <!-- Order Form -->
          <form
            [formGroup]="orderForm"
            class="order-form"
            (submit)="addCartItem()"
          >
            <div class="row">
              <app-custom-product-colors></app-custom-product-colors>
              <div class="col-12 mb-3">
                <div class="row">
                  <h6>Size</h6>
                  <app-custom-product-sizes></app-custom-product-sizes>
                </div>
              </div>
              <div class="col-12">
                <h6>Quantity</h6>
                <div
                  class="d-flex justify-content-center justify-content-sm-between align-items-center"
                >
                  <p-inputNumber
                    formControlName="quantity"
                    [showButtons]="true"
                    buttonLayout="horizontal"
                    inputId="horizontal"
                    spinnerMode="horizontal"
                    [step]="1"
                    decrementButtonClass="p-button-danger p-button-help p-button-text"
                    incrementButtonClass="p-button-success p-button-help p-button-text"
                    incrementButtonIcon="pi pi-plus"
                    decrementButtonIcon="pi pi-minus"
                    inputStyleClass="p-inputtext-sm inputNumber text-center"
                    [min]="1"
                    [max]="99"
                  ></p-inputNumber>

                  <p-button
                    label="Add to Cart"
                    icon="pi pi-shopping-cart"
                    styleClass="p-button-raised "
                    [disabled]="product.inventory?.quantity == 0"
                    type="submit"
                  ></p-button>
                  <app-check-list-button
                    [product]="product"
                    [styleClass]="'p-button-help p-button-text'"
                  ></app-check-list-button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Tab View For -->
  <!-- Details, reviews, shipping and returns -->
  <div class="row product-tabview">
    <p-tabView [style]="{ background: 'transparent' }">
      <p-tabPanel header="Detail">
        <h3>Product Details</h3>
        <p [innerHTML]="product.description"></p>
        <div class="row">
          <div class="col-12 col-md-4">
            <h6>Highlights</h6>
            <ul>
              <li>Lorem ipsum dolor sit amet</li>
              <li>Consectetur adipiscing elit</li>
              <li>Duis aute irure dolor in reprehenderit in voluptate</li>
              <li>Cillum dolore eu fugiat nulla pariatur.</li>
            </ul>
          </div>
          <div class="col-12 col-md-4">
            <h6>Size and Fit</h6>
            <ul class="list-unstyled">
              <li>Lorem ipsum dolor sit amet</li>
              <li>Consectetur adipiscing elit</li>
              <li>Duis aute irure dolor in reprehenderit in voluptate</li>
              <li>Cillum dolore eu fugiat nulla pariatur.</li>
            </ul>
          </div>
          <div class="col-12 col-md-4">
            <h6>Material & Care</h6>
            <ul class="list-unstyled">
              <li><i class="pi pi-sun me-2"></i><span>Not dryer safe</span></li>
              <li>
                <i class="pi pi-times-circle me-2"></i
                ><span>No chemical wash</span>
              </li>
              <li>
                <i class="pi pi-sliders-h me-2"></i
                ><span>Iron medium heat</span>
              </li>
              <li>
                <i class="pi pi-minus-circle me-2"></i><span>Dry flat</span>
              </li>
            </ul>
          </div>
        </div>
      </p-tabPanel>
      <!-- Reviews tab -->
      <p-tabPanel header="Reviews">
        <!-- Product reviews container -->
        <h3>Customer Reviews</h3>
        <ng-container *ngIf="product.reviews?.length != 0">
          <!-- Dataview so we can add sorting and pagination -->
          <p-dataView
            #dv
            [value]="product.reviews"
            [sortField]="sortField"
            [sortOrder]="sortOrder"
            [paginator]="true"
            [rows]="3"
          >
            <ng-template pTemplate="header">
              <div
                class="d-flex flex-column flex-md-row justify-md-content-between"
              >
                <p-dropdown
                  [options]="sortOptions"
                  [(ngModel)]="sortKey"
                  placeholder="Sort Reviews"
                  (onChange)="onSortChange($event)"
                  styleClass="mb-2 mb-md-0"
                ></p-dropdown>
              </div>
            </ng-template>
            <ng-template let-review pTemplate="listItem">
              <div class="d-flex flex-column review card">
                <span class="review-header-container">
                  <span class="h5 review-header">{{ review.title }}</span>
                  <!-- If the review for this user make him able to delete or edit it. -->
                  <p-speedDial
                    [model]="reviewMenuItems"
                    direction="down"
                    showIcon="pi pi-ellipsis-v"
                    hideIcon="pi pi-times"
                    buttonClassName="p-button-rounded p-button-text"
                    className="speeddial-right"
                    *ngIf="
                      isAuthenticated && userReview?.userId == review.userId
                    "
                  ></p-speedDial>
                </span>
                <p-rating
                  [ngModel]="review.rating"
                  [readonly]="true"
                  [cancel]="false"
                  class="mb-2"
                ></p-rating>
                <p>
                  {{ review.comment }}
                </p>
                <span class="mb-2"
                  >{{ review.user?.userName }},
                  {{ review.createdAt | date }}</span
                >
              </div>
            </ng-template>
          </p-dataView>
        </ng-container>
        <!-- Review Form container -->
        <!-- If user and do not have a review. Or if he edits his review -->
        <ng-container
          *ngIf="
            isAuthenticated && (userReview == null || upsertReview == 'update')
          "
        >
          <h3 class="mt-4">Add Review</h3>
          <!-- Upsert form -->
          <form
            [formGroup]="reviewForm"
            (submit)="upsertReview == 'add' ? addReview() : updateReview()"
            autocomplete="off"
          >
            <div class="row">
              <!-- Title input -->
              <div class="col-12 col-md-7 custom-input-group">
                <span class="p-float-label">
                  <input
                    pInputText
                    id="title"
                    formControlName="title"
                    class="w-100"
                    autocomplete="off"
                  />
                  <label htmlFor="title">Title</label>
                </span>
                <app-generic-input-errors
                  [genericFormControl]="reviewForm.get('title')"
                  inputName="Title"
                ></app-generic-input-errors>
              </div>
              <!-- Rating input -->
              <div class="col-12 col-md-7 custom-input-group">
                <p-rating
                  formControlName="rating"
                  [readonly]="false"
                  [cancel]="false"
                ></p-rating>
              </div>
              <!-- Comment input -->
              <div class="col-12 col-md-7 custom-input-group">
                <span class="p-float-label">
                  <textarea
                    id="comment"
                    rows="5"
                    cols="150"
                    style="max-width: 100%; min-height: 150px"
                    pInputTextarea
                    [autoResize]="true"
                    formControlName="comment"
                  ></textarea>
                  <label htmlFor="comment">Comment</label>
                </span>
                <app-generic-input-errors
                  [genericFormControl]="reviewForm.get('comment')"
                  inputName="Comment"
                ></app-generic-input-errors>
              </div>
              <div class="col-12 col-md-7 py-3">
                <button
                  pButton
                  pRipple
                  label="SUBMIT REVIEW"
                  class="w-100"
                  type="submit"
                  [disabled]="reviewForm.invalid || reviewForm.pristine"
                ></button>
              </div>
            </div>
          </form>
        </ng-container>
      </p-tabPanel>
      <!-- Shipping tap -->
      <p-tabPanel header="Shipping & Returns">
        <h3>Shipping Placeholder</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <div class="row">
          <div class="col-12 col-md-6">
            <h6>Shipping Costs</h6>
            <ul>
              <li>Japan - JPY 2,500.</li>
              <li>Europe - EUR 10</li>
              <li>Switzerland - CHF 10</li>
              <li>Canada - CAD 25</li>
              <li>USA - USD 20</li>
              <li>Australia - AUD 30</li>
              <li>United Kingdom - GBP 10</li>
            </ul>
          </div>
          <div class="col-12 col-md-6">
            <h6>Return Policy</h6>
            <p>
              Pharetra et ultrices neque ornare aenean euismod elementum nisi.
              Diam phasellus vestibulum lorem sed. Mattis molestie a iaculis at.
            </p>
          </div>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
