<div class="col">
  <div class="card mx-0 px-0">
    <p-carousel
      [value]="products"
      [numVisible]="numVisible"
      [numScroll]="2"
      [circular]="false"
      [responsiveOptions]="responsiveOptions"
      [circular]="true"
    >
      <ng-template let-product pTemplate="item">
        <!-- If Loading -->
        <div
          class="d-flex justify-content-center align-items-center my-3"
          *ngIf="loading"
        >
          <div class="d-flex flex-column justify-content-center">
            <p-skeleton
              width="10rem"
              height="4rem"
              styleClass="mb-2"
            ></p-skeleton>
            <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton height="2rem" styleClass="mb-2 mx-auto"></p-skeleton>
            <div class="d-flex justify-content-center">
              <p-skeleton
                shape="circle"
                size="2rem"
                styleClass="me-2"
              ></p-skeleton>
              <p-skeleton
                shape="circle"
                size="2rem"
                styleClass="ms-2"
              ></p-skeleton>
            </div>
          </div>
        </div>
        <!-- Loading is done show the items -->
        <div
          class="custom-carousel-item rounded mx-2 text-center py-4 px-3 d-flex flex-column justify-content-between"
          *ngIf="!loading"
        >
          <div class="mb-3">
            <img
              [src]="createImgPath(product.productImages[0].imgPath)"
              [alt]="product.name"
              class="product-img cursor-pointer"
              routerLink="/product/{{ product.id }}"
            />
          </div>
          <div>
            <span
              class="mb-1 text-xl font-bold cursor-pointer"
              routerLink="/product/{{ product.id }}"
            >
              {{
                product.name.length > 20
                  ? (product.name | uppercase | slice : 0 : 20) + "..."
                  : (product.name | uppercase)
              }}
            </span>
            <h6 class="mt-0 text-xl mb-3 font-semibold">
              {{ "$" + product.price }}
            </h6>
            <p-tag
              [value]="product.inventory?.status"
              [severity]="getSeverity(product)"
            ></p-tag>
            <div class="mt-4">
              <p-button
                type="button"
                styleClass="p-button-info p-button-rounded mr-2"
                icon="pi pi-eye"
                routerLink="/product/{{ product.id }}"
              ></p-button>
              <!-- If the product out of stock disable add to my cart functionality -->
              <app-shopping-cart-button
                [product]="product"
              ></app-shopping-cart-button>
              <app-check-list-button
                [product]="product"
              ></app-check-list-button>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>
