<div class="col">
  <div class="card mx-0 px-0">
    <p-carousel
      [value]="products"
      [numVisible]="numVisible"
      [numScroll]="2"
      [circular]="false"
      [responsiveOptions]="responsiveOptions"
      [circular]="true"
    >
      <ng-template let-product pTemplate="item">
        <div
          class="custom-carousel-item rounded mx-2 text-center py-4 px-3 d-flex flex-column justify-content-between"
        >
          <div class="mb-3">
            <img
              [src]="createImgPath(product.productImages[0].imgPath)"
              [alt]="product.name"
              class="product-img cursor-pointer"
              routerLink="/product/{{ product.id }}"
            />
          </div>
          <div>
            <span
              class="mb-1 text-2xl font-bold cursor-pointer"
              routerLink="/product/{{ product.id }}"
            >
              {{
                product.name.length > 20
                  ? (product.name | uppercase | slice : 0 : 20) + "..."
                  : (product.name | uppercase)
              }}
            </span>
            <h6 class="mt-0 mb-3 text-2xl font-semibold">
              {{ "$" + product.price }}
            </h6>
            <p-tag
              [value]="product.inventory?.status"
              [severity]="getSeverity(product)"
            ></p-tag>
            <div class="mt-4">
              <p-button
                type="button"
                styleClass="p-button-info p-button-rounded mr-2"
                icon="pi pi-eye"
                routerLink="/product/{{ product.id }}"
              ></p-button>
              <!-- If the product out of stock disable add to my cart functionality -->
              <app-shopping-cart-button
                [product]="product"
              ></app-shopping-cart-button>
              <app-check-list-button
                [product]="product"
              ></app-check-list-button>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>
