.new-customers-ad {
  background: var(--surface-card);

  h2 {
    margin-top: 1rem;
  }
  a {
    margin-bottom: 1rem;
  }
}

h4 {
  > a {
    color: var(--primary-color);
    font-size: medium;
    margin-left: 0.5rem;
  }

  > a:hover,
  > a:focus {
    color: var(--primary-300);
  }
}

.galleria-img {
  width: 90vw;
  height: 50vh;
}

@media screen and (max-width: 576px) {
  .galleria-img {
    width: 80vw;
  }
}

@media screen and (min-width: 768px) {
  .galleria-img {
    width: 50vw;
    height: 55vh;
    max-width: 650px;
  }
}
@media screen and (min-width: 1200px) {
  .galleria-img {
    max-width: 550px;
    height: 60vh;
  }
}
@media screen and (min-width: 1350px) {
  .galleria-img {
    max-width: 650px;
  }
}

.sales-img {
  height: 32vh;
  max-width: 75vw;
}

img {
  cursor: pointer;
}
