<!-- <link
  rel="stylesheet"
  href="../../../../../node_modules/bootstrap/dist/css/bootstrap.min.css"
/> -->
<div class="container-fluid px-4">
  <!-- Discount  -->
  <div class="row">
    <div class="col justify-content-center align-items-center d-flex g-1">
      <mat-icon
        fontIcon="card_giftcard"
        color="primary"
        class="mx-1"
      ></mat-icon>
      <h6 class="text-dark" class="mx-1 mb-0">
        BUY NOW, PAY LATER STARTING AT 0% APR
      </h6>
      <button mat-raised-button color="primary" class="mx-1">LEARN MORE</button>
    </div>
  </div>
  <!-- Hero -->
  <div class="row my-3">
    <!-- Galleria  -->
    <div class="col-12 col-md-7 d-flex justify-content-center">
      <p-galleria
        [value]="images"
        [showIndicators]="true"
        [showThumbnails]="false"
        [autoPlay]="true"
        [circular]="true"
        [responsiveOptions]="responsiveOptions"
        [containerStyle]="{ 'max-width': '640px' }"
      >
        <ng-template pTemplate="item" let-item>
          <img [src]="item.itemImageSrc" class="d-block w-100 rounded" />
        </ng-template>
      </p-galleria>
    </div>
    <!-- Sales -->
    <div
      class="sales col-12 my-3 col-md-5 my-md-0 d-flex flex-row flex-md-column justify-content-center align-items-center"
    >
      <a href="#!">
        <p-image
          src="../../../../assets/images/sales/Home-20-slider-banner-1.avif"
          alt="Image"
          imageClass="w-100 rounded"
        ></p-image>
      </a>
      <a href="#!">
        <p-image
          src="../../../../assets/images/sales/Home-20-slider-banner-1.avif"
          alt="Image"
          imageClass="w-100 rounded"
        ></p-image>
      </a>
    </div>
  </div>
  <div class="row new-customers-ad rounded-pill text-center">
    <h2>50% Off For New Customers</h2>
    <p>Free Shipping & Free Return at no order min. Restricitons apply</p>
    <a href="#!">
      <!-- <button mat-button color="primary">Start your order now</button> -->
      <button mat-fab extended color="primary">
        <mat-icon>shop</mat-icon>
        Start Your Order Now
      </button></a
    >
  </div>
  <!-- Categories -->
  <div class="row my-3">
    <h4>Shop By Categories <a href="#!">View all</a></h4>
    <app-custom-carousel
      [items]="products"
      [withName]="true"
    ></app-custom-carousel>
    <!-- <div class="card">
      <p-carousel
        [value]="products"
        [numVisible]="5"
        [numScroll]="1"
        [responsiveOptions]="responsiveOptions"
      >
        <ng-template let-product pTemplate="item">
          <div class="cart-item rounded mx-2 text-center py-5 px-3">
            <div class="mb-3">
              <img
                src="https://primefaces.org/cdn/primeng/images/demo/product/{{
                  product.image
                }}"
                [alt]="product.name"
                class="carousel-img"
              />
            </div>
            <div>
              <h6 class="mb-1">{{ product.name }}</h6>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div> -->
  </div>
  <!-- New products -->
  <div class="row my-3">
    <h4>New Products <a href="#!">View all</a></h4>
    <app-products-carousel [products]="products"></app-products-carousel>
  </div>
  <!-- Featured products -->
  <div class="row my-3">
    <h4>Featured Products <a href="#!">View all</a></h4>
    <app-products-carousel [products]="products"></app-products-carousel>
  </div>
  <!-- Top brands -->
  <div class="row my-3">
    <h4>Top Brands <a href="#!">View all</a></h4>
    <app-custom-carousel
      [items]="products"
      [withName]="false"
      imgClass="rounded-pill"
    ></app-custom-carousel>
  </div>
</div>
<app-confirm-dialog></app-confirm-dialog>
