.sales a {
  margin: 0 0.3rem 0.3rem 0.3rem;
}

.new-customers-ad {
  background: var(--surface-card);

  h2 {
    // color: var(--text-color-secondary);
    margin-top: 1rem;
  }
  // p {
  //   color: var(--text-color);
  // }
  a {
    margin-bottom: 1rem;
  }
}

p-carousel {
  .cart-item {
    border: 1px solid var(--surface-d);
    border-radius: 3px;
  }
}
