<!-- <link
  rel="stylesheet"
  href="../../../../../node_modules/bootstrap/dist/css/bootstrap.min.css"
/> -->
<div class="container-fluid px-4">
  <!-- Discount  -->
  <div class="row mb-3">
    <div class="col justify-content-center align-items-center d-flex g-1">
      <mat-icon
        fontIcon="card_giftcard"
        color="primary"
        class="mx-1"
      ></mat-icon>
      <h6 class="text-dark" class="mx-1 mb-0">
        BUY NOW, PAY LATER STARTING AT 0% APR
      </h6>
      <button mat-raised-button color="primary" class="mx-1">LEARN MORE</button>
    </div>
  </div>
  <!-- Hero -->
  <div class="row my-3">
    <!-- Galleria  -->
    <div class="col-12 col-md-7 d-flex justify-content-center">
      <p-galleria
        [value]="images"
        [showIndicators]="true"
        [showThumbnails]="false"
        [autoPlay]="true"
        [circular]="true"
        [responsiveOptions]="responsiveOptions"
        [containerStyle]="{ 'max-width': '640px' }"
      >
        <ng-template pTemplate="item" let-item>
          <img [src]="item.itemImageSrc" class="d-block w-100 rounded" />
        </ng-template>
      </p-galleria>
    </div>
    <!-- Sales -->
    <div
      class="sales col-12 my-3 col-md-5 my-md-0 d-flex flex-row flex-md-column justify-content-center align-items-center"
    >
      <a href="#!">
        <p-image
          src="../../../../assets/images/sales/Home-20-slider-banner-1.avif"
          alt="Image"
          imageClass="w-100 rounded"
        ></p-image>
      </a>
      <a href="#!">
        <p-image
          src="../../../../assets/images/sales/Home-20-slider-banner-1.avif"
          alt="Image"
          imageClass="w-100 rounded"
        ></p-image>
      </a>
    </div>
  </div>
  <div class="row new-customers-ad rounded-pill text-center">
    <h2>50% Off For New Customers</h2>
    <p>Free Shipping & Free Return at no order min. Restricitons apply</p>
    <a href="#!">
      <!-- <button mat-button color="primary">Start your order now</button> -->
      <button mat-fab extended color="primary">
        <mat-icon>shop</mat-icon>
        Start Your Order Now
      </button></a
    >
  </div>
  <!-- Categories -->
  <div class="row my-3">
    <h4>Shop By Categories <a routerLink="/products">View all</a></h4>
    <app-custom-carousel
      [items]="caregories"
      [withName]="true"
    ></app-custom-carousel>
  </div>
  <!-- New products -->
  <div class="row my-3">
    <h4>New Products <a routerLink="/products">View all</a></h4>
    <app-products-carousel [products]="products"></app-products-carousel>
  </div>
  <!-- Featured products -->
  <div class="row my-3">
    <h4>Featured Products <a routerLink="/products">View all</a></h4>
    <app-products-carousel [products]="products"></app-products-carousel>
  </div>
  <!--  -->
  <div class="row my-3 g-3">
    <div class="col-12 col-md-6">
      <img
        src="../../../../assets/images/sales/home-20-banner-custom-1-2-1_775x.webp"
        alt="Image"
        class="w-100 rounded"
      />
    </div>
    <div class="col-12 col-md-6">
      <img
        src="../../../../assets/images/sales/home-20-banner-custom-1-2-2_775x.webp"
        alt="Image"
        class="w-100 rounded"
      />
    </div>
  </div>
  <!-- Top brands -->
  <div class="row my-3">
    <h4>Top Brands <a routerLink="/products">View all</a></h4>
    <app-custom-carousel
      [items]="products"
      [withName]="false"
      imgClass="rounded-pill"
    ></app-custom-carousel>
  </div>

  <!-- Clothing, Shoes & Accessories -->
  <!-- <div class="row my-3 g-3">
    <div class="col-7 mx-auto mx-md-0 col-md-4">
      <img
        src="../../../../assets/images/sales/home-20-product-block-collection-1.webp"
        alt="Image"
        class="img-fluid w-100 rounded-3"
      />
    </div>
    <div class="col-12 col-md-8">
      <app-products-carousel
        [products]="products"
        [responsiveOptions]="accessoriesResponsiveOptions"
        [numVisible]="2"
      ></app-products-carousel>
    </div>
  </div> -->
  <!--  -->
  <div class="row my-3 g-3">
    <div class="col-10 mx-auto col-md-4 mx-md-0">
      <img
        src="../../../../assets/images/categories/home-20-banner-custom-1-3-1_510x.avif"
        alt="Image"
        class="img-fluid w-100 rounded-3"
      />
    </div>
    <div class="col-10 mx-auto col-md-4 mx-md-0">
      <img
        src="../../../../assets/images/categories/home-20-banner-custom-1-3-2_510x.avif"
        alt="Image"
        class="img-fluid w-100 rounded-3"
      />
    </div>
    <div class="col-10 mx-auto col-md-4 mx-md-0">
      <img
        src="../../../../assets/images/categories/home-20-banner-custom-1-3-3_510x.avif"
        alt="Image"
        class="img-fluid w-100 rounded-3"
      />
    </div>
  </div>
  <!-- Recommended For You -->
  <div class="row my-3">
    <h4>Recommended For You</h4>
    <div class="col-12">
      <app-custom-data-view [products]="products"></app-custom-data-view>
    </div>
  </div>
</div>
