<!-- <link
  rel="stylesheet"
  href="../../../../../node_modules/bootstrap/dist/css/bootstrap.min.css"
/> -->
<div class="container-fluid px-4">
  <!-- Discount  -->
  <div class="row">
    <div class="col justify-content-center align-items-center d-flex g-1">
      <mat-icon fontIcon="card_giftcard" color="accent" class="mx-1"></mat-icon>
      <h6 class="text-dark" class="mx-1 mb-0">
        BUY NOW, PAY LATER STARTING AT 0% APR
      </h6>
      <button mat-raised-button color="accent" class="mx-1">LEARN MORE</button>
    </div>
  </div>
  <!-- Category banner  -->
  <div class="row my-3">
    <div class="col-12 col-md-6 shadow-lg">
      <carousel [isAnimated]="true" [interval]="1500">
        <slide>
          <img
            src="../../../../assets/images/businesswoman-using-tablet-analysis.jpg"
            alt="first slide"
            style="display: block; width: 100%"
          />
        </slide>
        <slide>
          <img
            src="../../../../assets/images/colleagues-working-cozy-office-medium-shot.jpg"
            alt="second slide"
            style="display: block; width: 100%"
          />
        </slide>
        <slide>
          <img
            src="../../../../assets/images/rear-view-young-college-student.jpg"
            alt="third slide"
            style="display: block; width: 100%"
          />
        </slide>
      </carousel>
    </div>
    <div class="col-12 col-md-5 shadow-lg"></div>
    <div class="col-12 shadow-lg">
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <button mat-raised-button color="accent" class="">
            SHOP BY CATEGORY
          </button>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-between align-items-center">
            <a href="#!">
              <mat-icon fontIcon="watch"></mat-icon>
              <p>Watchs</p>
            </a>
            <a href="#!">
              <mat-icon fontIcon="watch"></mat-icon>
              <p>Watchs</p>
            </a>
            <a href="#!">
              <mat-icon fontIcon="watch"></mat-icon>
              <p>Watchs</p>
            </a>
            <a href="#!">
              <mat-icon fontIcon="watch"></mat-icon>
              <p>Watchs</p>
            </a>
            <a href="#!">
              <mat-icon fontIcon="watch"></mat-icon>
              <p>Watchs</p>
            </a>
            <a href="#!">
              <mat-icon fontIcon="watch"></mat-icon>
              <p>Watchs</p>
            </a>
            <a href="#!">
              <mat-icon fontIcon="watch"></mat-icon>
              <p>Watchs</p>
            </a>
          </div>
        </div>
        <div class="col-12">
          <div class="d-flex justify-content-between align-items-center">
            <a href="#!">
              <mat-icon fontIcon="watch"></mat-icon>
              <p>Watchs</p>
            </a>
            <a href="#!">
              <mat-icon fontIcon="watch"></mat-icon>
              <p>Watchs</p>
            </a>
            <a href="#!">
              <mat-icon fontIcon="watch"></mat-icon>
              <p>Watchs</p>
            </a>
            <a href="#!">
              <mat-icon fontIcon="watch"></mat-icon>
              <p>Watchs</p>
            </a>
            <a href="#!">
              <mat-icon fontIcon="watch"></mat-icon>
              <p>Watchs</p>
            </a>
            <a href="#!">
              <mat-icon fontIcon="watch"></mat-icon>
              <p>Watchs</p>
            </a>
            <a href="#!">
              <mat-icon fontIcon="watch"></mat-icon>
              <p>Watchs</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
