<p-dataView
  #dv
  [value]="products"
  [rows]="rows"
  [layout]="layout"
  [paginator]="paginator"
  [sortField]="sortField"
  [sortOrder]="sortOrder"
  [filterBy]="filterBy"
  gridStyleClass="row"
  [lazy]="true"
  (onLazyLoad)="loadProducts($event)"
  [totalRecords]="pagination == undefined ? undefined : pagination.TotalCount"
  [loading]="loading"
>
  <ng-template pTemplate="header">
    <div class="d-flex justify-content-between align-items-center w-100">
      <p-button
        (click)="emitsidebarVisibleValue()"
        icon="pi pi-filter"
        styleClass="p-button-text me-2 me-sm-0"
        *ngIf="isSmall"
      ></p-button>
      <p-dropdown
        [options]="sortOptions"
        (ngModel)="(sortKey)"
        placeholder="Sort By"
        (onChange)="onSortChange($event)"
        styleClass="me-2 me-sm-0"
        *ngIf="sortOptions != undefined"
      ></p-dropdown>
      <span *ngIf="sortOptions == undefined"></span>
      <p-dataViewLayoutOptions
        (layout)="(layout)"
        styleClass="d-flex  flex-sm-row justify-content-center align-items-center"
      ></p-dataViewLayoutOptions>
    </div>
  </ng-template>

  <!-- ListItem template -->
  <ng-template let-product pTemplate="listItem">
    <div class="col-12 px-4">
      <div
        class="d-flex flex-column flex-sm-row align-items-center mx-4 py-4 gap-3 dataView-item-container"
      >
        <!-- Product img -->
        <img
          class="shadow-2 d-block d-xl-block mx-auto border-round dataView-list-img cursor-pointer"
          [src]="createImgPath(product.productImages?.[0].imgPath)"
          [alt]="product.name"
          routerLink="/product/{{ product.id }}"
        />
        <div
          class="d-flex flex-column flex-sm-row justify-content-between align-items-center align-items-xl-start flex-1 gap-2"
        >
          <div
            class="d-flex flex-column align-items-center align-items-sm-start gap-3 text-center text-sm-start"
          >
            <!-- Product title -->
            <div
              class="text-2xl font-bold text-900 cursor-pointer"
              routerLink="/product/{{ product.id }}"
            >
              {{
                product.name.length > 20
                  ? (product.name | uppercase | slice : 0 : 20) + "..."
                  : (product.name | uppercase)
              }}
            </div>
            <!-- Product rating -->
            <p-rating
              [ngModel]="product.avgRating"
              [readonly]="true"
              [cancel]="false"
            ></p-rating>
            <div class="d-flex align-items-center gap-3">
              <!-- Product category -->
              <span class="d-flex align-items-center gap-2">
                <i class="pi pi-tag"></i>
                <span
                  class="font-semibold cursor-pointer"
                  (click)="filterByCategory(product.category.name!)"
                  >{{
                    product.category.name?.length > 10
                      ? (product.category.name | uppercase | slice : 0 : 10) +
                        "..."
                      : (product.category.name | uppercase)
                  }}</span
                >
              </span>
              <!-- Product status -->
              <p-tag
                [value]="product.inventory?.status"
                [severity]="getSeverity(product)"
              ></p-tag>
            </div>
          </div>
          <div
            class="d-flex flex-column align-items-center align-items-sm-end gap-2"
          >
            <!-- Product price -->
            <span class="text-2xl font-semibold">{{
              product.price | currency
            }}</span>
            <!-- Shopping cart btn -->
            <app-shopping-cart-button
              [product]="product"
            ></app-shopping-cart-button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <!-- GridItem templete -->
  <ng-template let-product pTemplate="gridItem">
    <div class="col-12 col-sm-6 col-lg-4 data-view-grid-item">
      <div class="p-4 border-1 surface-border border-round">
        <!-- Card header -->
        <div
          class="d-flex flex-wrap align-items-center justify-content-between gap-2"
        >
          <!-- Category name -->
          <span class="d-flex align-items-center gap-2">
            <i class="pi pi-tag mr-1"></i>
            <span
              class="font-semibold cursor-pointer"
              (click)="filterByCategory(product.category.name!)"
            >
              {{
                product.category.name?.length > 10
                  ? (product.category.name | uppercase | slice : 0 : 10) + "..."
                  : (product.category.name | uppercase)
              }}
            </span>
          </span>
          <!-- Status -->
          <p-tag
            [value]="product.inventory?.status"
            [severity]="getSeverity(product)"
          ></p-tag>
        </div>
        <!-- Card body -->
        <div
          class="d-flex flex-column align-items-center gap-3 py-5"
          style="min-height: 100%"
        >
          <!-- Product img -->
          <img
            class="shadow-2 border-round dataView-grid-img cursor-pointer"
            [src]="createImgPath(product.productImages?.[0].imgPath)"
            [alt]="product.name"
            routerLink="/product/{{ product.id }}"
          />
          <!-- Product name -->
          <div
            class="text-2xl font-bold cursor-pointer text-center"
            style="min-height: 5rem"
            routerLink="/product/{{ product.id }}"
          >
            {{
              product.name.length > 20
                ? (product.name | uppercase | slice : 0 : 20) + "..."
                : (product.name | uppercase)
            }}
          </div>
          <!-- Product rating -->
          <p-rating
            [ngModel]="product.avgRating"
            [readonly]="true"
            [cancel]="false"
          ></p-rating>
        </div>
        <!-- Card footer -->
        <div class="d-flex align-items-center justify-content-between">
          <!-- Product price -->
          <span class="text-2xl font-semibold">{{
            product.price | currency
          }}</span>
          <!-- Shopping cart btn -->
          <app-shopping-cart-button
            [product]="product"
          ></app-shopping-cart-button>
        </div>
      </div>
    </div>
  </ng-template>
</p-dataView>
