<div class="card">
  <p-carousel
    [value]="items"
    [numVisible]="8"
    [numScroll]="1"
    [responsiveOptions]="responsiveOptions"
    [circular]="true"
  >
    <ng-template let-item pTemplate="item">
      <div class="custom-carousel-item rounded mx-2 text-center pt-4 px-3">
        <div class="mb-3">
          <img
            [src]="createImgPath(item.imgPath)"
            [alt]="item.name"
            [class]="'carousel-img cursor-pointer ' + imgClass"
            (click)="filterByCategory(item.name!)"
          />
        </div>
        <div *ngIf="withName">
          <h6
            class="cursor-pointer font-bold"
            (click)="filterByCategory(item.name!)"
          >
            {{
              item.name.length > 20
                ? (item.name | uppercase | slice : 0 : 20) + "..."
                : (item.name | uppercase)
            }}
          </h6>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
