<div class="row">
  <h2>Review and Confirm Your Order</h2>
  <div class="col-12">
    <h4>Shipping Information</h4>
    <p>Name: John Doe</p>
    <p>Address: 123 Main St.</p>
    <p>Phone Number: 555-555-5555</p>
    <p>Email Address: john.doe@example.com</p>
  </div>
  <div class="col-12">
    <h4>Shipping Options</h4>
    <p>Standard Shipping (3-5 business days): $4.99</p>
  </div>

  <div class="col-12">
    <h4>Payment Information</h4>
    <p>Card Number: **** **** **** 1234</p>
    <p>Expiration Date: 12/24</p>
  </div>

  <div class="col-12">
    <h4>Order Total</h4>
    <p>Total Cost: $14.98</p>
  </div>

  <div class="col-12 d-flex">
    <p-button class="mx-auto">Confirm Order</p-button>
  </div>
</div>
