<div class="row">
  <h2>Review and Confirm Your Order</h2>
  <div class="col-12">
    <h4>Shipping Information</h4>
    <p>Name: {{ selectedAddress.firstName }}</p>
    <p>
      Address:
      {{
        selectedAddress.addressLine1 +
          ", " +
          selectedAddress.city +
          ", " +
          selectedAddress.state +
          ", " +
          selectedAddress.country +
          "."
      }}
    </p>
    <p>Postal Code: {{ selectedAddress.postalCode }}</p>
    <p>Phone Number: {{ selectedAddress.mobile }}</p>
    <p>Telephone Number: {{ selectedAddress.telephone }}</p>
  </div>
  <div class="col-12">
    <h4>Shipping Options</h4>
    <p>
      {{ selectedShippingOption.method }} ({{
        selectedShippingOption.deliveryTime
      }}): {{ selectedShippingOption.cost | currency }}
    </p>
  </div>

  <div class="col-12">
    <h4>Payment Information</h4>
    <p>
      Card Holder Name: {{ selectedPaymentOption.name }}
      Card Number: **** **** ****
      {{ selectedPaymentOption.accountNo | slice : -4 }}
    </p>
    <p>Expiration Date: {{ selectedPaymentOption.expiry }}</p>
  </div>

  <div class="col-12">
    <h4>Order Total</h4>
    <p>Total Cost: {{ total | currency }}</p>
  </div>
</div>
