<div class="container-fluid py-2 px-3 px-md-5 mt-5 mt-sm-0">
  <div class="row">
    <!-- If search -->
    <h4 class="text-center py-3" *ngIf="nameFilter != null && nameFilter != ''">
      {{ products?.length }} RESULTS FOUND FOR “{{ nameFilter }}”
    </h4>
    <h4
      class="text-center py-3"
      *ngIf="categoryFilter != null && categoryFilter != ''"
    >
      {{ products?.length }} RESULTS FOUND FOR CATEGORY “{{ categoryFilter }}”
    </h4>
    <!-- Filters -->
    <div class="col-12 col-xl-3">
      <div class="row" *ngIf="!isSmall">
        <!-- Price filter -->
        <div class="col-12 filter-card">
          <p-panel header="Price" [toggleable]="true">
            <p-slider
              [(ngModel)]="priceRangeFliter"
              [range]="true"
              [min]="0.01"
              [max]="20000"
              (onSlideEnd)="priceSliderEnd($event)"
            ></p-slider>
            <div class="row">
              <div
                class="col-12 d-flex align-items-center justify-content-center mt-3"
              >
                <p-inputNumber
                  inputStyleClass="w-100"
                  styleClass="w-100"
                  [(ngModel)]="priceRangeFliter[0]"
                  mode="currency"
                  currency="USD"
                  locale="en-US"
                  [min]="0.01"
                  [max]="20000"
                  (ngModelChange)="
                    priceRangeFliter = [
                      priceRangeFliter[0],
                      priceRangeFliter[1]
                    ]
                  "
                  (onBlur)="inputEventHandler($event)"
                >
                </p-inputNumber>
                <span class="px-2">to</span>
                <p-inputNumber
                  inputStyleClass="w-100"
                  styleClass="w-100"
                  [(ngModel)]="priceRangeFliter[1]"
                  mode="currency"
                  currency="USD"
                  locale="en-US"
                  [min]="0.01"
                  [max]="20000"
                  (ngModelChange)="
                    priceRangeFliter = [
                      priceRangeFliter[0],
                      priceRangeFliter[1]
                    ]
                  "
                  (onBlur)="inputEventHandler($event)"
                >
                </p-inputNumber>
              </div>
            </div>
          </p-panel>
        </div>
        <!-- Availability filter -->
        <div class="col-12 filter-card">
          <p-panel header="Availability" [toggleable]="true">
            <div class="row">
              <div class="col-12 d-flex align-items-center mb-2">
                <p-checkbox
                  value="IN STOCK"
                  id="in-stock"
                  styleClass="me-2"
                  [(ngModel)]="availabilityFilter"
                  (onChange)="inputEventHandler($event)"
                ></p-checkbox>
                <label for="in-stock">IN STOCK</label>
              </div>
              <div class="col-12 d-flex align-items-center mb-2">
                <p-checkbox
                  value="LOW STOCK"
                  id="low-stock"
                  styleClass="me-2"
                  [(ngModel)]="availabilityFilter"
                  (onChange)="inputEventHandler($event)"
                ></p-checkbox>
                <label for="low-stock">LOW STOCK</label>
              </div>
              <div class="col-12 d-flex align-items-center mb-2">
                <p-checkbox
                  value="OUT OF STOCK"
                  id="out-of-stock"
                  styleClass="me-2"
                  [(ngModel)]="availabilityFilter"
                  (onChange)="inputEventHandler($event)"
                ></p-checkbox>
                <label for="out-of-stock">OUT OF STOCK</label>
              </div>
            </div>
          </p-panel>
        </div>
        <!-- Colors filter -->
        <div class="col-12 filter-card">
          <p-panel header="Colors" [toggleable]="true">
            <p-scrollPanel [style]="{ width: '100%', height: '15vh' }">
              <app-custom-product-colors
                (colorsValueEmitter)="colorsEventHandler($event)"
              ></app-custom-product-colors>
            </p-scrollPanel>
          </p-panel>
        </div>
        <!-- Size filter -->
        <div class="col-12 filter-card">
          <p-panel header="Size" [toggleable]="true">
            <p-scrollPanel [style]="{ width: '100%', height: '25vh' }">
              <app-custom-product-sizes
                (sizesValueEmitter)="sizesEventHandler($event)"
              ></app-custom-product-sizes>
            </p-scrollPanel>
          </p-panel>
        </div>
        <!-- Category filter -->
        <div class="col-12 filter-card categories-fliter">
          <p-panel header="Categories" [toggleable]="true">
            <p-scrollPanel [style]="{ width: '100%' }">
              <ul class="custom-list">
                <li *ngFor="let category of categories">
                  <span
                    [class]="
                      categoryFilter == category.name ? 'selected-category' : ''
                    "
                    (click)="filterByCategory(category.name!)"
                    >{{ category.name }}</span
                  >
                </li>
              </ul>
            </p-scrollPanel>

            <p-button
              [label]="showAllCategories ? 'Show Less' : 'Show All'"
              [icon]="showAllCategories ? 'pi pi-angle-up' : 'pi pi-angle-down'"
              styleClass="p-button-secondary p-button-rounded p-button-text "
              (click)="toggleShowAllCategories()"
            ></p-button>
          </p-panel>
        </div>
      </div>
    </div>
    <!-- Product data view -->
    <div class="col-12 col-xl-9">
      <app-custom-data-view
        [products]="products!"
        [pagination]="pagination"
        [sortOptions]="sortOptions"
        [rows]="rows"
        [paginator]="true"
        (currentPageEvent)="getCurrentPage($event)"
        [loading]="loading"
        [isSmall]="isSmall"
        (sidebarVisibleValueEmitter)="setFilterSideVisibleValue($event)"
      ></app-custom-data-view>
    </div>
  </div>
  <!-- Sidebar filters  -->
  <!-- Will move the filters to a component to make it more dry. -->
  <p-sidebar
    [(visible)]="sidebarVisible"
    [style]="{ width: '20rem', 'max-width': '90vw', 'min-width': '40vw' }"
    appendTo="body"
    *ngIf="isSmall"
  >
    <ng-template pTemplate="header"><h4>Filters</h4></ng-template>
    <!-- Price filter -->
    <div class="col-12 filter-card">
      <p-panel header="Price" [toggleable]="true">
        <p-slider
          [(ngModel)]="priceRangeFliter"
          [range]="true"
          [min]="0.01"
          [max]="20000"
          (onSlideEnd)="priceSliderEnd($event)"
        ></p-slider>
        <div class="row">
          <div
            class="col-12 d-flex align-items-center justify-content-center mt-3"
          >
            <p-inputNumber
              inputStyleClass="w-100"
              styleClass="w-100"
              [(ngModel)]="priceRangeFliter[0]"
              mode="currency"
              currency="USD"
              locale="en-US"
              [min]="0.01"
              [max]="20000"
              (ngModelChange)="
                priceRangeFliter = [priceRangeFliter[0], priceRangeFliter[1]]
              "
              (onBlur)="inputEventHandler($event)"
            >
            </p-inputNumber>
            <span class="px-2">to</span>
            <p-inputNumber
              inputStyleClass="w-100"
              styleClass="w-100"
              [(ngModel)]="priceRangeFliter[1]"
              mode="currency"
              currency="USD"
              locale="en-US"
              [min]="0.01"
              [max]="20000"
              (ngModelChange)="
                priceRangeFliter = [priceRangeFliter[0], priceRangeFliter[1]]
              "
              (onBlur)="inputEventHandler($event)"
            >
            </p-inputNumber>
          </div>
        </div>
      </p-panel>
    </div>
    <!-- Availability filter -->
    <div class="col-12 filter-card">
      <p-panel header="Availability" [toggleable]="true">
        <div class="row">
          <div class="col-12 d-flex align-items-center mb-2">
            <p-checkbox
              value="IN STOCK"
              id="in-stock"
              styleClass="me-2"
              [(ngModel)]="availabilityFilter"
              (onChange)="inputEventHandler($event)"
            ></p-checkbox>
            <label for="in-stock">IN STOCK</label>
          </div>
          <div class="col-12 d-flex align-items-center mb-2">
            <p-checkbox
              value="LOW STOCK"
              id="low-stock"
              styleClass="me-2"
              [(ngModel)]="availabilityFilter"
              (onChange)="inputEventHandler($event)"
            ></p-checkbox>
            <label for="low-stock">LOW STOCK</label>
          </div>
          <div class="col-12 d-flex align-items-center mb-2">
            <p-checkbox
              value="OUT OF STOCK"
              id="out-of-stock"
              styleClass="me-2"
              [(ngModel)]="availabilityFilter"
              (onChange)="inputEventHandler($event)"
            ></p-checkbox>
            <label for="out-of-stock">OUT OF STOCK</label>
          </div>
        </div>
      </p-panel>
    </div>
    <!-- Colors filter -->
    <div class="col-12 filter-card">
      <p-panel header="Colors" [toggleable]="true">
        <p-scrollPanel [style]="{ width: '100%', height: '15vh' }">
          <app-custom-product-colors
            (colorsValueEmitter)="colorsEventHandler($event)"
          ></app-custom-product-colors>
        </p-scrollPanel>
      </p-panel>
    </div>
    <!-- Size filter -->
    <div class="col-12 filter-card">
      <p-panel header="Size" [toggleable]="true">
        <p-scrollPanel [style]="{ width: '100%', height: '25vh' }">
          <app-custom-product-sizes
            (sizesValueEmitter)="sizesEventHandler($event)"
          ></app-custom-product-sizes>
        </p-scrollPanel>
      </p-panel>
    </div>
    <!-- Category filter -->
    <div class="col-12 filter-card categories-fliter">
      <p-panel header="Categories" [toggleable]="true">
        <p-scrollPanel [style]="{ width: '100%' }">
          <ul class="custom-list">
            <li *ngFor="let category of categories">
              <span
                [class]="
                  categoryFilter == category.name ? 'selected-category' : ''
                "
                (click)="filterByCategory(category.name!)"
                >{{ category.name }}</span
              >
            </li>
          </ul>
        </p-scrollPanel>

        <p-button
          [label]="showAllCategories ? 'Show Less' : 'Show All'"
          [icon]="showAllCategories ? 'pi pi-angle-up' : 'pi pi-angle-down'"
          styleClass="p-button-secondary p-button-rounded p-button-text "
          (click)="toggleShowAllCategories()"
        ></p-button>
      </p-panel>
    </div>
  </p-sidebar>
</div>
