<div class="row text-center">
  <h1 class="text-primary">Reset Password</h1>
  <div
    *ngIf="errorMessage && successMessage === ''"
    class="alert alert-danger"
    role="alert"
  >
    {{ errorMessage }}
  </div>
  <div
    *ngIf="successMessage && errorMessage === ''"
    class="alert alert-success"
    role="alert"
  >
    {{ successMessage }}
  </div>
</div>

<div class="d-flex justify-content-center">
  <form
    [formGroup]="resetPasswordForm"
    class="w-50 mx-auto mt-1"
    (submit)="resetPassword()"
  >
    <!-- Password Field -->
    <mat-form-field class="w-100">
      <mat-label>New Password</mat-label>
      <input
        type="password"
        matInput
        formControlName="password"
        placeholder="Enter password"
      />
      <mat-error
        *ngIf="resetPasswordForm.get('password')?.hasError('invaildPassword')"
      >
        Please enter a valid password.
      </mat-error>
      <mat-error
        *ngIf="resetPasswordForm.get('password')?.hasError('required')"
      >
        Password is <strong>required.</strong>
      </mat-error>
    </mat-form-field>

    <!-- Confirm Password Field -->
    <mat-form-field class="w-100">
      <mat-label>Confirm Password</mat-label>
      <input
        type="password"
        matInput
        formControlName="confirmPassword"
        placeholder="Enter confirm password"
      />
      <mat-error
        *ngIf="
          resetPasswordForm
            .get('confirmPassword')
            ?.hasError('invaildConfirmPassword')
        "
      >
        Please enter a valid password.
      </mat-error>
      <mat-error
        *ngIf="
          resetPasswordForm
            .get('confirmPassword')
            ?.hasError('passwordsDoNotMatch')
        "
      >
        Password and comfirm password do not match.
      </mat-error>
      <mat-error
        *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('required')"
      >
        Confirm Password is <strong>required.</strong>
      </mat-error>
    </mat-form-field>

    <div class="d-flex justify-content-center">
      <button
        mat-raised-button
        color="accent"
        type="submit"
        [disabled]="resetPasswordForm.invalid"
      >
        Reset Password
      </button>
    </div>
  </form>
</div>
