<div class="container-fluid p-4">
  <div class="row">
    <div class="col-12 col-sm-10 col-md-8 mx-auto">
      <div class="card">
        <h2 class="mb-3">Create Category</h2>
        <form [formGroup]="addCategoryForm" (submit)="AddProduct()">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-12">
                  <span class="p-float-label">
                    <input
                      pInputText
                      id="name"
                      formControlName="name"
                      class="w-100"
                    />
                    <label htmlFor="name">Category Name</label>
                  </span>
                </div>
                <div class="col-12">
                  <span class="p-float-label">
                    <textarea
                      id="float-input"
                      rows="5"
                      cols="30"
                      pInputTextarea
                      formControlName="description"
                      class="w-100"
                    ></textarea>
                    <label for="float-input">Summary</label>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <button pButton type="submit">Add Category</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
