<div class="container-fluid p-4">
  <div class="row">
    <div class="col-12">
      <p-table
        #dt
        [value]="discounts"
        [rows]="10"
        [paginator]="true"
        [globalFilterFields]="['code', 'isActive', 'name']"
        [tableStyle]="{ 'min-width': '100%' }"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [(selection)]="selectedDiscounts"
        [showCurrentPageReport]="true"
        [loading]="loading"
      >
        <ng-template pTemplate="caption">
          <h1 class="mb-3">Manage Discounts</h1>
          <div
            class="d-flex flex-column flex-md-row align-items-center justify-content-between"
          >
            <span class="mb-3 mb-md-0 d-flex flex-column flex-sm-row"
              ><button
                pButton
                pRipple
                label="New"
                icon="pi pi-plus"
                class="p-button-success me-0 me-sm-2 mb-3 mb-sm-0"
                routerLink="/dashboard/admin/discount/add"
              ></button>
              <button
                pButton
                pRipple
                icon="pi pi-trash"
                label="Delete Selected Records"
                class="p-button-danger"
                (click)="deleteSelectedDiscounts()"
                [disabled]="!selectedDiscounts || !selectedDiscounts.length"
              ></button
            ></span>
            <span class="p-input-icon-left mb-3 mb-md-0">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="dt.filterGlobal(inputFilter($event), 'contains')"
                placeholder="Search..."
              />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="code">
              Code <p-sortIcon field="code"></p-sortIcon>
            </th>
            <th pSortableColumn="name">
              Name <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="discountPercent">
              Discount Percent <p-sortIcon field="discountPercent"></p-sortIcon>
            </th>
            <th pSortableColumn="isActive">
              Is Active <p-sortIcon field="isActive"></p-sortIcon>
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-discount>
          <tr>
            <td>
              <p-tableCheckbox [value]="discount"></p-tableCheckbox>
            </td>
            <td>{{ discount.code }}</td>
            <td>
              {{
                discount.name.length > 25
                  ? (discount.name | titlecase | slice : 0 : 25) + "..."
                  : (discount.name | titlecase)
              }}
            </td>
            <td>{{ discount.discountPercent | percent }}</td>
            <td>
              <i
                class="pi pi-check"
                style="color: #9fdaa8"
                *ngIf="discount.isActive"
              ></i>
              <i
                class="pi pi-times"
                style="color: #df7491"
                *ngIf="!discount.isActive"
              ></i>
            </td>
            <td>
              <span class="d-flex">
                <button
                  pButton
                  pRipple
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-success me-2"
                  routerLink="/dashboard/admin/discount/update/{{
                    discount.id
                  }}"
                ></button>
                <button
                  pButton
                  pRipple
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-danger"
                  (click)="deleteDiscount(discount)"
                ></button>
              </span>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="flex align-items-center justify-content-between">
            In total there are
            {{ discounts ? discounts.length : 0 }} discounts.
          </div>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
