<div class="row text-center">
  <h1 class="text-primary">Send Email Confirmation</h1>
  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
    {{ errorMessage }}
  </div>
  <div *ngIf="successMessage" class="alert alert-success" role="alert">
    {{ successMessage }}
  </div>
</div>

<div class="d-flex justify-content-center">
  <form
    [formGroup]="sendEmailConfirmationForm"
    class="w-50 mx-auto mt-1"
    (submit)="sendEmailConfirmation()"
  >
    <!-- Email Field -->
    <mat-form-field class="w-100">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        formControlName="email"
        placeholder="abc@email.com"
      />
      <mat-error
        *ngIf="sendEmailConfirmationForm.get('email')?.hasError('email')"
      >
        Please enter a valid Email.
      </mat-error>
      <mat-error
        *ngIf="sendEmailConfirmationForm.get('email')?.hasError('required')"
      >
        Email is <strong>required.</strong>
      </mat-error>
    </mat-form-field>

    <div class="d-flex justify-content-center">
      <button
        mat-raised-button
        color="accent"
        type="submit"
        [disabled]="sendEmailConfirmationForm.invalid"
      >
        Send Email
      </button>
    </div>
  </form>
</div>
