<div class="container-fluid p-4">
  <div class="card">
    <h2>Create Product</h2>
    <form [formGroup]="upsertProductForm">
      <div class="row">
        <div class="col-12 col-md-8">
          <div class="row">
            <div class="col-12">
              <span class="p-float-label">
                <input
                  pInputText
                  id="name"
                  formControlName="name"
                  class="w-100"
                />
                <label htmlFor="name">Product Name</label>
              </span>
              <app-generic-input-errors
                [genericFormControl]="upsertProductForm.get('name')"
                inputName="Name"
              ></app-generic-input-errors>
            </div>
            <div class="col-12 col-md-4">
              <span class="p-float-label">
                <p-inputNumber
                  id="price"
                  formControlName="price"
                  inputStyleClass="w-100"
                  inputId="locale-user"
                  [minFractionDigits]="2"
                  [min]="0"
                  class="w-100"
                  [required]="true"
                >
                </p-inputNumber>
                <label htmlFor="price">Price</label>
              </span>
            </div>
            <div class="col-12 col-md-4">
              <span class="p-float-label">
                <input
                  pInputText
                  id="productCode"
                  formControlName="productCode"
                  class="w-100"
                />
                <label htmlFor="productCode">Product Code</label>
              </span>
              <app-generic-input-errors
                [genericFormControl]="upsertProductForm.get('productCode')"
                inputName="Product code"
              ></app-generic-input-errors>
            </div>
            <div class="col-12 col-md-4">
              <span class="p-float-label">
                <input
                  pInputText
                  id="productSKU"
                  formControlName="productSKU"
                  class="w-100"
                />
                <label htmlFor="productSKU">Product SKU</label>
              </span>
              <app-generic-input-errors
                [genericFormControl]="upsertProductForm.get('productSKU')"
                inputName="Product SKU"
              ></app-generic-input-errors>
            </div>
            <div class="col-12">
              <p-editor
                formControlName="description"
                [style]="{ height: '20rem' }"
              ></p-editor>
              <app-generic-input-errors
                [genericFormControl]="upsertProductForm.get('description')"
                inputName="Description"
              ></app-generic-input-errors>
            </div>
            <div class="col-12">
              <p-fileUpload
                name="product-images"
                #pFile
                [multiple]="true"
                accept="image/*"
                [maxFileSize]="1000000"
                cancelStyleClass="p-button-danger"
                [showUploadButton]="false"
                uploadStyleClass="p-button-success"
              >
                <ng-template pTemplate="content">
                  <h5 class="text-center">Choose your images then upload</h5>
                  <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">
                      {{ file.name }} - {{ file.size }} bytes
                    </li>
                  </ul>
                </ng-template>
              </p-fileUpload>
              <app-generic-input-errors
                [genericFormControl]="upsertProductForm.get('productImages')"
                inputName="Name"
              ></app-generic-input-errors>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="row">
            <div class="col-12 custom-input-card">
              <h5>Status</h5>
              <hr />
              <p-dropdown
                formControlName="status"
                [options]="statusOptions"
                optionLabel="status"
                optionValue="value"
                styleClass="w-100"
              ></p-dropdown>
              <app-generic-input-errors
                [genericFormControl]="upsertProductForm.get('status')"
                inputName="Status"
              ></app-generic-input-errors>
            </div>
            <div class="col-12 custom-input-card">
              <h5>Tags</h5>
              <hr />
              <p-chips
                formControlName="tags"
                [max]="20"
                [addOnTab]="true"
                [showClear]="true"
              ></p-chips>
              <app-generic-input-errors
                [genericFormControl]="upsertProductForm.get('tags')"
                inputName="Tags"
              ></app-generic-input-errors>
            </div>
            <div class="col-12 custom-input-card">
              <h5>Caregory</h5>
              <hr />
              <!-- If add new category -->
              <p-dropdown
                [filter]="true"
                filterBy="name"
                [options]="caregoryOptions"
                placeholder="Select a Category"
                formControlName="categoryId"
                optionLabel="name"
                optionValue="id"
                styleClass="w-100"
                [required]="true"
                *ngIf="urlPath === 'add'"
              ></p-dropdown>
              <!-- If update -->
              <p-dropdown
                [filter]="true"
                filterBy="name"
                [options]="caregoryOptions"
                placeholder="Select a Category"
                formControlName="categoryId"
                optionLabel="name"
                optionValue="id"
                styleClass="w-100"
                [required]="true"
                *ngIf="urlPath === 'update'"
              ></p-dropdown>
            </div>
            <div class="col-12 custom-input-card">
              <h5>Colors</h5>
              <hr />
              <app-custom-product-colors
                (colorsValueEmitter)="addColorsToForm($event)"
                [colorsValue]="upsertProductForm.get('colors')?.value"
              ></app-custom-product-colors>
              <app-generic-input-errors
                [genericFormControl]="upsertProductForm.get('colors')"
                inputName="Colors"
              ></app-generic-input-errors>
            </div>
            <div class="col-12 custom-input-card">
              <h5>Sizes</h5>
              <hr />
              <app-custom-product-sizes
                (sizesValueEmitter)="addSizesToForm($event)"
                [sizesValue]="upsertProductForm.get('sizes')?.value"
              ></app-custom-product-sizes>
              <app-generic-input-errors
                [genericFormControl]="upsertProductForm.get('sizes')"
                inputName="Sizes"
              ></app-generic-input-errors>
            </div>
            <!-- <div
              class="col-12 custom-input-card d-flex justify-content-between"
            >
              <h5>In Stock</h5>
              <p-inputSwitch formControlName="inStock"></p-inputSwitch>
              <app-generic-input-errors
                [genericFormControl]="upsertProductForm.get('inStock')"
                inputName="In Stock"
              ></app-generic-input-errors>
            </div> -->
            <div
              class="col-12 custom-input-card d-flex justify-content-between"
            >
              <h5>Featured</h5>
              <p-inputSwitch formControlName="featured"></p-inputSwitch>
              <app-generic-input-errors
                [genericFormControl]="upsertProductForm.get('featured')"
                inputName="Featured"
              ></app-generic-input-errors>
            </div>
            <div class="col-12 custom-input-card">
              <h5>Quantity</h5>
              <hr />
              <p-inputNumber
                formControlName="quantity"
                [showButtons]="true"
                buttonLayout="horizontal"
                inputId="horizontal"
                spinnerMode="horizontal"
                [step]="1"
                decrementButtonClass="p-button-danger p-button-help p-button-text"
                incrementButtonClass="p-button-success p-button-help p-button-text"
                incrementButtonIcon="pi pi-plus"
                decrementButtonIcon="pi pi-minus"
                inputStyleClass="p-inputtext-sm inputNumber text-center"
                [min]="0"
                [max]="99999"
                [required]="true"
              ></p-inputNumber>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <button
          pButton
          type="submit"
          (click)="uploadFiles(pFile.files); pFile.clear()"
          [disabled]="pFile.files.length === 0 || upsertProductForm.invalid"
          *ngIf="urlPath === 'add'"
        >
          Add Product
        </button>
        <button
          pButton
          type="submit"
          (click)="uploadFiles(pFile.files)"
          [disabled]="upsertProductForm.invalid || upsertProductForm.pristine"
          *ngIf="urlPath === 'update'"
        >
          Update Product
        </button>
      </div>
    </form>
  </div>
</div>
